<h1><%=@project.name%></h1>
<h2><%=@project.description %></h2>
<br>
<div class="col-xs-6">
  <% if @volunteers.any?() %>
    <h3>Here are the volunteers currently assigned to this project:</h3>
    <p>Click on a volunteer to see or update their name or primary skill.</p>
    <ul>
      <% @volunteers.each() do |volunteer| %>
      <% if volunteer.project_id == @project.id %>
        <li><a href="/single_volunteer/<%= volunteer.id() %>"><%= volunteer.name() %></a></li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers yet!</p>
  <% end %>
</div>
<div class="col-xs-6">
  <h3>Add a new volunteer to this project:</h3>
  <form  action="/volunteers" method="post">
    <div class="form-group">
      <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">
      <label class='form-label' for="name">Volunteer's Name:</label>
      <br>
      <input type="text" name="name" id='name' placeholder="Name" autofocus>
      <label class='form-label' for="skill">Add a volunteer's primary skill (ex. 'Cats', 'Handyman', 'Juggling'):</label>
      <br>
      <input type="text" name="skill" id='skill' placeholder="Primary Skill" autofocus>
      <br>
      <button type="submit" class="button btn">Add Volunteer</button>
    </div>
  </form>
</div>
